<div class="jumbotron">
<h1>Siemanko</h1>
<p>To mój nowy projekt, na razie wstępniak. </p>
<%= link_to 'O mnie', home_about_path, class: 'btn btn-default' %>
<%= link_to 'Strona główna', root_path, class: 'btn btn-primary' %>
</div>